@import "{}/client/stylesheets/globals";

.dialog-add-incident {
  .location {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;

    span {
      color: $brand-secondary;
    }
  }
  //.incident-report {
  //  height: calc(100vh - 200px);
  //}
  .picker-container {
    min-height: 400px;
  }

  .datetimepicker {
    max-width: 300px;
  }

  .rnv-stops {
    .caption {
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    button {
      margin-top: 15px;
    }
  }
}
